// out: style.css

body {
  min-height: 100vh;
  background: rgb(219,189,129);
  background: -moz-linear-gradient(left, rgba(219,189,129,1) 0%, rgba(243,213,155,1) 30%, rgba(243,213,155,1) 70%, rgba(219,189,129,1) 100%);
  background: -webkit-linear-gradient(left, rgba(219,189,129,1) 0%,rgba(243,213,155,1) 30%,rgba(243,213,155,1) 70%,rgba(219,189,129,1) 100%);
  background: linear-gradient(to right, rgba(219,189,129,1) 0%,rgba(243,213,155,1) 30%,rgba(243,213,155,1) 70%,rgba(219,189,129,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbbd81', endColorstr='#dbbd81',GradientType=1 );
}

header {
  background: #171717;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.grid-wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
